@import "../abstracts/variables";

.dashboard-container {
  overflow: none;
}

form.addpassword__form {
  background-color: $color-white;
  border-radius: 20px;
  padding: 30px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;

  margin-left: 0;

  .form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    width: 50%;
  }
  label {
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
    font-size: 1rem;
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;

    background-color: #ececec;
    border: none;
    padding: 12px 15px;
    margin-top: 5px;

    &::placeholder {
      font-family: "Poppins";
      font-size: 0.875rem;
    }
  }

  .form__meta {
    display: none;
  }

  button.form__submit {
    align-self: flex-end;
    margin-top: auto;
  }
}
