@import "../abstracts/variables";

.passwords-table {
  position: relative;
  background-color: $color-white;
  border-radius: 20px;
  overflow-y: scroll;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      position: sticky;
      top: 0;
      background-color: $color-white;
      z-index: 10;
    }

    th.checkbox,
    td:first-child {
      width: 40px;
    }

    th.blank,
    td.action-cell {
      width: 60px;
    }

    th.name,
    td:nth-child(2) {
      width: 60%;
    }

    th.owner,
    td:nth-child(3) {
      width: 40%;
    }

    th,
    td {
      padding: 16px;
      border-bottom: 1px solid #e0e0e0;
      text-align: left;
      font-weight: 500;
    }

    .item-name {
      .name {
        color: $color-text-strong;
        font-weight: 500;
        font-size: 1rem;

        cursor: pointer;

        &:hover {
          color: $color-teal-500;
        }
      }

      .description {
        font-size: 0.875em;
        color: $color-text-body;
      }
    }

    .owner-pill {
      background-color: $color-teal-500;
      color: white;
      padding: 4px 10px;
      border-radius: 20px;
      font-size: 12px;
      display: inline-block;
    }

    .action-cell {
      position: relative;
    }

    .dropdown {
      .dropdown-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #333;
      }

      .dropdown-content {
        position: absolute;
        right: 60px;
        top: 45px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 100;
        border-radius: 8px;
        min-width: 250px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        button,
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;

          padding: 8px 12px;
          margin: 0;

          font-size: 14px;
          font-weight: 500;
          font-family: "Poppins";
          color: $color-text-strong;

          background: none;
          border: none;
          border-radius: 5px;

          cursor: pointer;

          text-decoration: none;
          text-transform: capitalize;

          &:hover {
            background-color: #f1f1f1;
          }
        }

        .delete {
          font-size: 14px;
          font-weight: 500;
          font-family: "Poppins";
          color: $color-feedback-error;
        }
      }
    }
  }
}
