@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZenDots";
  src: url("../../fonts/ZenDots-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
